@page "/"
<h1>Welcome to your favourite bug tracker</h1>

<p>You can:</p>

<ul>
	<li>Create a bug</li>
	<li>See list of open bugs</li>
	<li>Close a bug</li>
	<li>Create and edit users</li>
	<li>Assign bugs to users</li>
</ul>